<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean name="/Echo" class="org.codehaus.xfire.spring.XFireExporter">
        <property name="service">
            <ref bean="echo"/>
        </property>
        <property name="serviceInterface">
            <value>org.codehaus.xfire.spring.Echo</value>
        </property>
        <property name="serviceFactory">
            <ref bean="xfire.serviceFactory"/>
        </property>
        <property name="xfire">
            <ref bean="xfire"/>
        </property>
    </bean>

    <bean id="echo" class="org.codehaus.xfire.spring.EchoImpl"/>
</beans>

